<template>
  <div id="app">
    <p class='logo'>What time is it?<br>It's English Time!</p>
    <FrontPage msg='HI'></FrontPage>
  </div>
</template>

<script>
import FrontPage from './components/FrontPage.vue'

export default {
  name: 'App',
  components: {
    FrontPage
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.logo {
    font: 30px "Open Sans", Helvetica, Arial, sans-serif;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #2f2d2e;
    letter-spacing: 0.8px;
}
</style>
