<template>
    <div class='card' id="app">
        <section v-if="errored">
            <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
        </section>

        <section v-else>
            <div class='loading' v-if="loading">Loading...</div>

            <div v-else>
                <div>
                    <span class='word'>{{ info.value }}</span>
                    <button class='audio' v-on:click.prevent="playSound(info.wordId)"></button>
                </div>

                <p v-if="hidden">
                    <button class='button' v-on:click="showTips()">Show tips</button>
                </p>

                <div v-else v-for='(d, i) in info.designations' :key='i'>
                    <p>
                        <div class='pos'>{{ d.partOfSpeech }} ({{ d.level }})</div>
                        <div class='text'>{{ d.definition }}</div>
                        <div class='text'>{{ d.value | transform}}</div>
                    </p>
                </div>

                <div class='rating-list'>
                    <button v-for='(r, i) in 10'
                            :key='i'
                            v-bind:class="[(isActive[r-1].property)? currentRatingClass: ' ', ratingClass]"
                            v-on:click="changeRating(info.wordId,r)">
                        {{r}}
                    </button>
                </div>

                <p>
                    <button class='button' v-on:click="load()">Next word</button>
                </p>
            </div>
        </section>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: 'FrontPage',
        data() {
            return {
                info: null,
                loading: true,
                errored: false,
                hidden: true,
                currentRatingClass: 'current-rating',
                ratingClass: 'rating',
                isActive: [{ property: false }, { property: false }, { property: false }, { property: false }, { property: false },
                { property: false }, { property: false }, { property: false }, { property: false }, { property: false }],
                currentRating: 1
            }
        },
        mounted() {
            console.log(process.env.VUE_APP_LOCALHOST);
            console.log(process.env.VUE_APP_TEST);
            this.load();
        },
        methods: {
            load() {
                this.isActive.forEach(element => element.property = false);

                axios
                    .get('http://' + process.env.VUE_APP_LOCALHOST + '/api/random-word')
                    .then(response => this.info = response.data)
                    .catch(error => {
                        console.log(process.env.VUE_APP_LOCALHOST);
                        console.log(error);
                        this.errored = true;
                    })
                    .finally(() => {
                        this.loading = false;
                        this.hidden = true;
                        this.isActive[this.info.rating - 1].property = true;
                        this.currentRating = this.info.rating;
                    });
            },
            changeRating(id, r) {
                if (this.currentRating != r) {
                    this.isActive[this.currentRating - 1].property = !this.isActive[this.currentRating - 1].property;

                    const body = {
                        'rating': r
                    };

                    axios
                        .post('http://' + process.env.VUE_APP_LOCALHOST + '/api/rating/' + id, body, {
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        })
                        .finally(() => {
                            this.currentRating = r;
                            this.isActive[r - 1].property = !this.isActive[r - 1].property;
                        });
                }
            },
            showTips() {
                this.hidden = false;
            },
            playSound(id) {
                var audio = new Audio('http://' + process.env.VUE_APP_LOCALHOST + '/api/mp3/' + id);
                audio.play();
            }
        },
        filters: {
            transform: function (value) {
                if (!value) return ''
                value = value.toString()
                return value.charAt(0).toUpperCase() + value.slice(1) + '.'
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .rating {
        background-color: #e7e7e7;
        color: black;
        border: none;
        width: 35px;
        height: 35px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 10px;
    }

    .current-rating {
        background-color: #4caf50;
        color: white;
        border: none;
        width: 35px;
        height: 35px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 10px;
    }

    .loading {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 5px;
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        line-height: 24px;
        text-align: center;
    }

    .rating-list {
        margin-left: 10px;
        margin-right: 10px;
    }

    .card {
        background-color: rgb(243, 243, 243);
        margin: auto;
        max-width: 410px;
        border-radius: 10px;
    }

    .pos {
        font: 16px "Open Sans", Helvetica, Arial, sans-serif;
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        font-weight: bold;
        color: #f15a24;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        margin-bottom: 16px;
    }

    .word {
        font-size: 34px;
        font-weight: 700;
        color: #2a2a2a;
    }

    .text {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 5px;
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        line-height: 24px;
        text-align: left;
    }

    .audio {
        background: transparent url("../assets/audio.svg") center center no-repeat;
        ;
        position: relative;
        width: 23px;
        height: 23px;
        border: none;
        transition: none !important;
        cursor: pointer;
    }

    .button {
        border: 2px solid #dbdee2;
        color: black;
        font: 13px "Open Sans", Helvetica, Arial, sans-serif;
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        height: 25px;
        width: 100px;
        border-radius: 10px;
        margin-bottom: 10px;
    }
</style>